:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: hsl(77, 100%, 66%);
  --secondary: hsl(240, 100%, 85%);
  --light: 'hsl(0, 0%, 94%)';
  --primaryDark: hsl(77, 100%, 40%);
  --secondaryDark: hsl(240, 100%, 73%);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 1px solid var(--primaryDark);
}

.active .nav-item {
  border-bottom: 2px solid #835beb !important;
}
